* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

html, body {
	height: 100%;
	margin: 0;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .row {
	border-style: solid;
	border-width: 1px;
}

.box .row.header {
	flex-grow: 0 1 auto;
}

.box .row.content {
	flex: 1 1 auto;
}

.box .row.footer {
	flex: 0 1 40px;
}

.table.header {
	width: 100%;
}

.mapboxgl-popup-content {
	font-weight: normal;
	font-size: 16px;
	padding: 20px;
	box-shadow: none;
	border: 2px solid;
	border-radius: 10px;
}

.joinButton {
	background: #28c641;
}

.hostButton {
	padding: 10px;
	border: 1px solid;
	text-decoration: none;
	width: 100%;
}

th {
	padding: 3px 6px 3px 6px;
	font-weight: normal;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
	border: 1px solid;
}

@media only screen and (max-width: 800px)
{
	* {
		font-size: 3vw;
	}
	.mapboxgl-popup-content {
		width: 100%;
		font-weight: normal;
		padding: 10px;
		box-shadow: none;
		border: 1px solid;
		border-radius: 0;
	}

	.mapboxgl-popup {
		transform: none !important;
		position: absolute;
		bottom: 0;
		top:auto;
	}

	.mapboxgl-popup-tip {
		border: 0;
	}
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
