html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab';
    font-size: 16px;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    border-style: solid;
    border-width: 1px;
}

.box .row.header {
    flex-grow: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}
